# Laravel specific
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
/.fleet
/.idea
/.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Testing & CI
/tests
/.github
phpunit.xml
.phpunit.cache

# Documentation
*.md
!README.md

# Misc
/.history
/storage/debugbar


